<!DOCTYPE html>
<html>
  <body>
    <h1>Articles</h1>
    <% @articles.all.each do |article| %>
      <strong><%= article.name %></strong>
      <%= article.content %>
    <% end %>
  </body>
</html>
